:root {
  --background: rgb(243, 166, 0);
  --darkbackground: rgb(39, 38, 38);
  --accent: rgb(22, 24, 26);

  
}

html {
    height: 100%;
}
body {
    overflow: auto;
  margin: 0;
  height: 100%;
}


.white {
    color: white;
}

.orange {
    color: var(--accent);
    font-weight: 800;
}

.black {
    color: var(--darkbackground)

}

@media (max-width: 600px) {
    .black {color: white};

}


.saved {
    color: rgb(145, 112, 78) };

    