@keyframes opacityAnimation {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes zoom {
    from {zoom: normal;}
    to {zoom: 150%;}
}

@keyframes slideRight {
    from {left: 1000px;}
    to {left: 0px;}
    
}

html, body {
    margin: 0;
}
#portfolio-main {
    
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    gap: 10px;
    border-style: none none solid none;
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.397);
    
    

}

.img-container {
    
    border-radius: 10px;
    opacity: 0.9;
    
   
    
   
    
    animation-duration: 5s;
    opacity: 1;
    transition: 1s;
    width: 50%;
    max-width: 450px;
    
    
    
}

@media (max-width: 600px) {
   
     
}



.portfolio-img {
   
    width: 100%; 
    transition: 2s;
    align-items: center;
    border-radius: 10px;
   
}

.portfolio-p {
    opacity: 0.6;
    

}
p {
   
}

.portfolio-img:hover {
     box-shadow: 0 10px 10px rgba(0,0,0,0.5);
        opacity: 1;

     
     

}

.portfolio-note {
    color: rgb(126, 126, 126);
    text-align: center;
}



.portfolio-entry {
    position: relative;
    margin-top: 10px;
    text-indent: 0%;
    
    margin: 20px auto ;

    border-style: none;
    border-radius: 10px;
    padding: 20px;

    

    max-width: 800px;
    background-color: rgba(197, 197, 197, 0.2);
 
}

.portfolio-entry-bottom {
    display: flex;
    
    
    
}
.portfolio-entry-text {
    width: 50%;
    padding: 0 1rem 0 1rem;
    text-indent: 0%;
}



#portfolio-title {
    color: rgb(33, 54, 126);
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    font-size: 2.5rem;
    text-decoration: underline;
}




@media (max-width: 600px) {
   

    .portfolio-entry-bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;  
        

              }

    .img-container {
        width: 100%;
    }
     .portfolio-img {
        opacity: 1;
        
     }
     .portfolio-entry-text {
        width: 100%;
        padding: 0 0 0 0;
     }
}